# inputrc

# make sure that when I tab-complete a symlinked directory it also
# completes the slash. otherwise you have to hit tab twice in order to
# get the slash to appear.
set mark-symlinked-directories on

set editing-mode vi
set completion-ignore-case on
set bell-style visible

Control-l: clear-screen
Control-a: beginning-of-line
Control-e: end-of-line
Control-k: kill-line

